<div class="container-fluid" style="background: lightgray">
  <div style="margin:35px;">
    <!--Section: Products v.4-->
    <section class="pb-3 text-center ">

      <!--Section heading-->
      <h2 class="h1 py-5">Our best sellers</h2>
      <!--Section description-->

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-2 col-md-4 mb-4">

          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="">
              </mdb-card-img>
              <div class="stripe dark">
                <a>
                  <p>Red trousers
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>
            <!--Card image-->
          </mdb-card>
          <!--Collection card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-4 mb-4">

          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" alt="">
              </mdb-card-img>
              <div class="stripe light">
                <a>
                  <p>Sweatshirt
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>
            <!--Card image-->
          </mdb-card>
          <!--Collection card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-4 mb-4">

          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" alt="">
              </mdb-card-img>
              <div class="stripe dark">
                <a>
                  <p>Accessories
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>
            <!--Card image-->
          </mdb-card>
          <!--Collection card-->

        </div>
        <!--Grid column-->

        <div class="col-lg-2 col-md-4 mb-4">
          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" alt="">
              </mdb-card-img>
              <div class="stripe light">
                <a>
                  <p>Sweatshirt
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>
            <!--Card image-->
          </mdb-card>
          <!--Collection card-->
        </div>

        <div class="col-lg-2 col-md-4 mb-4">
          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/1.jpg" alt="">
              </mdb-card-img>
              <div class="stripe light">
                <a>
                  <p>Sweatshirt
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>
            <!--Card image-->
          </mdb-card>
          <!--Collection card-->
        </div>

        <div class="col-lg-2 col-md-4 mb-4">
          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/2.jpg" alt="">
              </mdb-card-img>
              <div class="stripe light">
                <a>
                  <p>Sweatshirt
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>
            <!--Card image-->
          </mdb-card>
          <!--Collection card-->
        </div>

        <div class="col-lg-2 col-md-4 mb-4">
          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/3.jpg" alt="">
              </mdb-card-img>
              <div class="stripe light">
                <a>
                  <p>Sweatshirt
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>
            <!--Card image-->
          </mdb-card>
          <!--Collection card-->
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/4.jpg" alt="">
              </mdb-card-img>
              <div class="stripe light">
                <a>
                  <p>Sweatshirt
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>
            <!--Card image-->
          </mdb-card>
          <!--Collection card-->
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="">
              </mdb-card-img>
              <div class="stripe light">
                <a>
                  <p>Sweatshirt
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>
            <!--Card image-->
          </mdb-card>
          <!--Collection card-->
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/11.jpg" alt="">
              </mdb-card-img>
              <div class="stripe light">
                <a>
                  <p>Sweatshirt
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>
            <!--Card image-->
          </mdb-card>
          <!--Collection card-->
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/10.jpg" alt="">
              </mdb-card-img>
              <div class="stripe light">
                <a>
                  <p>Sweatshirt
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>
            <!--Card image-->
          </mdb-card>
          <!--Collection card-->
        </div>

        <div class="col-lg-2 col-md-4 mb-4">
          <!--Collection card-->
          <mdb-card class="collection-card z-depth-1-half">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/11.jpg" alt="">
              </mdb-card-img>
              <div class="stripe light">
                <a>
                  <p>Sweatshirt
                    <mdb-icon fas icon="angle-right"></mdb-icon>
                  </p>
                </a>
              </div>
            </div>

            <!--Card image-->
          </mdb-card>
          <!--Collection card-->
        </div>
      </div>
      <!--Grid row-->

    </section>
    <!--Section: Products v.4-->
  </div>
</div>
